@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search__wrapper {
    margin: 1rem 0;
}
#search__form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}
#search__form input,
#search__form button {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0 1rem;
    color: white;
    font-size: 2rem;
}
#search__form button {
    cursor: pointer;
}
.card__wrapper {
    max-width: 900px;
    min-width: 700px;
    min-height: 200px;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #c9d6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #e2e2e2,
        #c9d6ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #e2e2e2,
        #c9d6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 3rem 5rem;
    border: 2px solid #c9d6ff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4), 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.img__wrapper {
    margin: 0 2rem;
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    border: 10px solid #2a2a72;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.img__wrapper img {
    max-width: 100%;
}
.info__wrapper {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    /* align-items: center; */
}
.info__wrapper span {
    color: #555555;
    margin-top: -0.5rem;
    font-size: 1.5rem;
}
.info__wrapper p {
    margin: 1rem 0;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repos__ul {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.repos__ul li {
    background-color: #242344;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    margin: 0.2rem 0.5rem;
}
.repos__ul a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
}
.repos__ul.toggle {
    display: none;
}
#repos {
    animation: boom 3s infinite;
    filter: none;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
@keyframes boom {
    0% {
        transform: scale(1);
        filter: none;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -ms-filter: blur(0);
        /* filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); */
    }
    30% {
        transform: scale(1);
        filter: none;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -ms-filter: blur(0);
        /* filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); */
    }
    75% {
        transform: scale(1.02);
        filter: none;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -ms-filter: blur(0);
        /* filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); */
    }
    100% {
        transform: scale(1);
        filter: none;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -ms-filter: blur(0);
        /* filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); */
    }
}
